/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
} */

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

*,
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.wrapper-burger {
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0px;
  right: 0px;
  justify-content: space-between;
}

.wrapper-burger.burger-show {
  transform: translateX(0);
}

.nav-mobile {
  font-size: 32px;
  margin-left: 25px;
  line-height: 70px;
}

.nav-mobile a {
  color: #828282;
  text-decoration: none;
}

.nav-mobile li {
  list-style-type: none;
}

.nav-mobile a:hover {
  color: black;
}

.wrapper-burger-btn {
  background-color: white;
  border: none;
  position: relative;
  display: flex;
  right: 0;
  top: 0;
  height: 70px;
  width: 70px;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
}

.wrapper-burger-language {
  color: #828282;
  font-size: 30px;
  color: #828282;
  font-size: 16px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-burger-language p {
  position: absolute;
  display: flex;
  left: -42px;
  top: -42px;
  transform: rotate(270deg);
}

.header {
  max-width: 945px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 560px) {
  .block-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
  }
}

h1 {
  font-weight: 700;
  width: 130px;
  font-size: 47px;
}

.menu {
  border-bottom: 1px solid #828282;
  padding-bottom: 35px;
}

@media (max-width: 560px) {
  .menu {
    display: none;
  }
}

.menu-list {
  margin: 0;
}

.nav-mobile {
  font-size: 34px;
}

.menu-button {
  background-image: url(/img/cross.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 560px) {
  .menu-button {
    display: block;
    justify-self: end;
    background-image: url(/img/pngwing.com.png);
    background-color: white;
  }
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 31px;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #828282;
  font-weight: 700;
  font-size: 18px;
}

a:hover {
  color: black;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  min-height: 150px;
  margin-top: 40px;
}

@media (max-width: 560px) {
  .information {
    margin-top: 0;
    flex-direction: column;
    gap: 20px;
    align-items: normal;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.information-p {
  width: 156px;
  font-size: 18px;
  padding-right: 78px;
}

.language {
  position: relative;
  color: #828282;
  font-size: 16px;
}

@media (max-width: 560px) {
  .language {
    display: none;
  }
}

.language p {
  position: absolute;
  display: flex;
  left: -42px;
  top: -42px;
  transform: rotate(270deg);
}

.inf-p {
  font-weight: 700;
  color: black;
}

.block-one-img {
  margin-top: 50px;
}

@media screen and (max-width: 560px) {
  .block-one-img {
    grid-column: span 2;
  }
}

.block-one-img img {
  width: 100%;
}

/* about me */

.about-me {
  margin: 100px auto 0;
  padding-top: 124px;
  padding-bottom: 108px;
  background-color: #f6f6f6;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .about-me {
    width: 100%;
  }
}

.about-me-description {
  width: 485px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 560px) {
  .about-me-description {
    width: 100%;
  }
}

.about-me-description h2 {
  font-size: 34px;
}

.about-one {
  padding-top: 33px;
}

.about-two,
.about-three {
  padding-top: 43px;
}

.skills {
  margin-top: 88px;
}

.skills-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.skills h2 {
  font-weight: 700;
  font-size: 34px;
}

.skills p {
  font-size: 18px;
  margin-top: 59px;
}

.skills-programs {
  max-width: 945px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 88px;
  gap: 20px;
}

@media screen and (max-width: 560px) {
  .skills-programs {
    margin-top: 60px;
  }
}

.skills-programs article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.skills-programs p {
  font-size: 14px;
  font-weight: bold;
  color: #828282;
  width: 84px;
  min-height: 43px;
  text-align: center;
  margin: 22px 0 0;
}

.stars {
  margin-top: 25px;
  margin-left: 5px;
}

.skills-img {
  background: radial-gradient(
    76% 75.63% at 32.97% 22.42%,
    rgba(68, 47, 85, 0.98) 0%,
    #12002c 100%
  );
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  margin-top: 110px;
  padding-bottom: 57px;
}

.portfolio h2 {
  font-size: 34px;
  font-weight: 700;
  margin-top: 109px;
  margin-left: 11px;
}

.portfolio p {
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 40px;
}

.portfolio img {
  width: 100%;
}

.portfolio-img-1 {
  margin-top: 56px;
}

.portfolio-img-1 p {
  margin-top: 39px;
}

.portfolio-img-2,
.portfolio-img-3 {
  margin-top: 62px;
}

.portfolio-img-2 p {
  margin-top: 39px;
  margin-left: 6px;
}

.portfolio-img-3 p {
  margin-top: 41px;
  margin-left: 4px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

.footer h2 {
  font-size: 34px;
  font-weight: 700;
  margin-top: 60px;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  margin-top: 29px;
}

.button {
  font-size: 18px;
  color: white;
  background-color: black;
  border-radius: 43px;
  padding: 10px;
  margin-left: 11px;
  padding-right: 28px;
  padding-left: 28px;
  margin-top: 31px;
  text-align: center;
}

.footer-img {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  width: 335px;
}

@media (max-width: 560px) {
  .footer-img {
    width: 280px;
  }
}

.footer-p {
  font-size: 14px;
  color: #828282;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
